
@{
    ViewBag.Title = "Index";
    var PkeyUserId = "0";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    var ViewingAgentID = Request.QueryString["AgentID"];
    // var IsFav = Request.QueryString["IsFav"];
    if (Request.Cookies["UseridCookie"] != null)
    {
        if (Request.Cookies["UseridCookie"].Value != null)
        {
            PkeyUserId = Request.Cookies["UseridCookie"].Value;
        }
    }
}
<style>
    .pitem {
        height: 100px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .pitem::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #ffffff;
        }

        .pitem::-webkit-scrollbar {
            width: 2%;
            border-radius: 10px;
            background-color: #ff6a00;
        }

        .pitem::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ff6a00;
        }

    #div_arearsserved {
        height: 50px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #div_arearsserved::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #ffffff;
        }

        #div_arearsserved::-webkit-scrollbar {
            width: 2%;
            border-radius: 10px;
            background-color: #ff6a00;
        }

        #div_arearsserved::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ff6a00;
        }
</style>
<meta charset="utf-8">
<meta name="description" content="Miminium Admin Template v.1">
<meta name="author" content="Isna Nur Azis">
<meta name="keyword" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Quitchet::Landing</title>
<link rel="shortcut icon" href="/img/logomi.png">
<!-- start: Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
@*plugins*@
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/jquery.nicescroll.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD0X4v7eqMFcWCR-VZAJwEMfb47id9IZao"></script>
<link href="https://fonts.googleapis.com/css?family=Inder" rel="stylesheet">
<link href="~/newcss/font-awesome.min.css" rel="stylesheet" />
<link href="~/newcss/bootstrap.min.css" rel="stylesheet" />
<script src="~/newjs/bootstrap.min.js"></script>
<link href="~/newcss/w3.css" rel="stylesheet" />
<link href="~/Content/customer_layout_style.css" rel="stylesheet" />
<script src="~/newjs/infobox_packed.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/webQuitchet.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>


<link href="~/Content/Agentprofile.css" rel="stylesheet" />

<div class="col-sm-12" style="background-color: #ff6937; margin-top: -4px;padding: 10px;color: white;text-align: center;border-radius:5px 5px 0 0">
    <span style="text-align: center;font-size:16px;">
        Agent Profile
    </span>
</div>
<div class="col-sm-12" style="background-color:#59294C;color:white;padding:10px" id="agent_div_inpopup">
    <div class="col-sm-1" style="padding-right:0">
        <img src="/img/addphotopic.png" class="img-circle img-responsive" alt="" id="agentphotoinpopup" style="height:50px;width:50px">
    </div>
    <div class="col-sm-6" style="display:table-cell;vertical-align:middle;text-align:left;padding:0">
        <div class="col-sm-12"><label id="agentname" style="font-size:17px;margin-bottom:0;">Bob Morgan</label></div>
        <div class="col-sm-12"><label id="agentcompany" style="margin-bottom:0">ABC Reality</label></div>
    </div>
    <div class="col-sm-5" style="text-align:right;display:table-cell;vertical-align:middle;padding-top:7px;">
        <a href="#" style="padding:10px" id="agentphoneinpopup_Share">
            <img src="/asset_contacts/img/Phoneicon_MyAgent_MP.png" alt="Call Agent" class="">
        </a>
        <a href="#" style="padding:10px" id="agentchatinpopup"><img src="/asset_contacts/img/chat_iconMyAgent_MP.png" alt="Chat with Agent" class=""></a>


    </div>
</div>

<div class="col-sm-12" style="background-color:#ff5d26;font-size:15px">
    <ul id="tabs-demo2" class="nav nav-tabs nav-tabs-v1" role="tablist" style="margin-top: 1%;margin-left:25%;">
        <li role="presentation" class="active">
            <a href="#tabs-demo2-area1" id="tabs-demo2-1" role="tab" aria-controls="tabs-demo2-area1" data-toggle="tab">
                <table>
                    <tr>
                        <td>
                            <img src="/img/user_icon.png" style="height:22px;" />
                        </td>
                        <td style="width:20px"></td>
                        <td>
                            <span class="steptabsround">About</span>
                        </td>
                    </tr>
                </table>
            </a>
        </li>
        <li role="presentation" onclick="ActiveListingsofAgent()">
            <a href="#tabs-demo2-area2" id="tabs-demo2-2" role="tab" aria-controls="tabs-demo2-area2" data-toggle="tab">

                <table>
                    <tr>
                        <td>
                            <img src="/img/ActiveListings.png" style="height:25px;" />
                        </td>
                        <td style="width:20px"></td>
                        <td>
                            <span class="steptabsround">Active Listings</span>
                        </td>
                    </tr>
                </table>

            </a>
        </li>
        <li role="presentation" onclick="RecentListingsofAgent()">
            <a href="#tabs-demo2-area3" id="tabs-demo2-3" role="tab" aria-controls="tabs-demo2-area3" data-toggle="tab">
                <table>
                    <tr>
                        <td>
                            <img src="/img/RecentSales_icon.png" style="height:25px;" />
                        </td>
                        <td style="width:20px"></td>
                        <td>
                            <span class="steptabsround">Recent Sales</span>
                        </td>
                    </tr>
                </table>
            </a>

        </li>
    </ul>

</div>
<div id="tabsDemo2Content" class="tab-content tab-content-v1 col-md-12" style="background-color:white;">
    <div role="tabpanel" class="tab-pane fade active in tabcontent1" id="tabs-demo2-area1">
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12" style="text-align:center;font-size:15px;font-weight:bold">
            <button id="btnbuyer" class="buyer">Buyer Agent</button>&nbsp;&nbsp;
            <button id="btnlisting" class="listing">Listing Agent</button>
        </div>
        <div class="col-sm-12" style="padding:15px">
            <label for="inputEmail3" class="control-label" style="color:#FF6937 !important;font-size:15px;">About</label>
            <div class="col-md-12 about" id="SummaryDiv">
                <label class="control-label" for="exampleInputEmail1" id="summarycontent">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio
                    doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio
                    doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
                </label>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-6" style="padding-left:0;text-align:left; ">
                    <label for="inputEmail3" style="color: #FF6937 !important;font-size:15px;">Experience</label><br />
                    <label for="inputEmail3" style="" id="lbl_experience_agent">5 Years</label>
                    <span>&nbsp;</span>
                    <div class="col-sm-12">&nbsp;</div>
                    <br />
                    <label for="inputEmail3" class="control-label" style="color: #FF6937 !important;font-size:15px;">Areas Served</label>
                    <div class="row" id="div_arearsserved">

                    </div>
                    <div class="col-sm-12">&nbsp;</div>
                    <div class="row">
                        <a href="#" target="_blank" id="agentweb" class="btn agentwebs">Agent Website</a>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right:0;">
                    <label for="inputEmail3" class="control-label" style="width: 100%;text-align:left; color: #FF6937 !important;font-size:15px;">Testimonials</label>
                    <section id="carousel">
                        <div class="row">
                            <div class="row" id="dynmiccars">
                                <div class="col-md-12 col-md-offset-2" style="padding-right:0;padding-left:0;">
                                    <div class="quote" style="display:none;"><i class="fa fa-quote-left fa-4x"></i></div>
                                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                        <!-- Carousel indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#fade-quote-carousel" id="item1o" data-slide-to="0"></li>
                                            <li data-target="#fade-quote-carousel" id="item2o" data-slide-to="1"></li>
                                            <li data-target="#fade-quote-carousel" id="item3o" data-slide-to="2" class="active"></li>
                                            <li data-target="#fade-quote-carousel" id="item4o" data-slide-to="3"></li>
                                            <li data-target="#fade-quote-carousel" id="item5o" data-slide-to="4"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="item" id="item1">
                                                <blockquote>
                                                    <p id="item1p" class="paragraph pitem"></p>
                                                </blockquote>
                                            </div>
                                            <div class="item" id="item2">
                                                <blockquote>
                                                    <p id="item2p" class="paragraph pitem"></p>
                                                </blockquote>
                                            </div>
                                            <div class="active item" id="item3">
                                                <blockquote>
                                                    <p id="item3p" class="paragraph pitem"></p>
                                                </blockquote>
                                            </div>
                                            <div class="item" id="item4">
                                                <blockquote>
                                                    <p id="item4p" class="paragraph pitem"></p>
                                                </blockquote>
                                            </div>
                                            <div class="item" id="item5">
                                                <blockquote>
                                                    <p id="item5p" class="paragraph pitem"></p>
                                                </blockquote>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <hr />
            <div class="col-sm-12" style="text-align:center">
                <img src="/img/Qutichet_footerLogo.png" class="" alt="">
            </div>

        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade tabcontent1" id="tabs-demo2-area2" style="margin-left: -14px;margin-top: 4px;">
        <div id="activeListingsDiv" style="max-height:450px;overflow-x:hidden;overflow-y:auto">
        </div>
        <div id="footerdrivebybutton" class="col-sm-12" style="background-color:transparent;text-align:center;display:none;">
            <a href="#" id="show_driveby_btn" class="closeorangebtn" style="text-decoration: none;width: 190px;margin-top: 4px;">Drive by</a>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade tabcontent1" id="tabs-demo2-area3" style="margin-left: -14px;margin-top: 4px;">
        <div id="recentListingsDiv" style="max-height:450px;overflow-x:hidden;overflow-y:auto">
        </div>

    </div>
</div>
@*Phone Call Popup*@
<div class="modal" id="PhoneCallModelShared" style="padding-left: 206px; z-index: 1500;">
    <div class="modal-dialog" role="document" style="padding-top: 15%; width: 25%">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center; border-bottom: none; padding-bottom: 0px;">
                <h5 style="color: #FF6937; margin-top: -2%; font-weight: 600;">Phone Call</h5>
                <img src="~/img/phone_icon_brand-1.png" />&nbsp <span id="span_name_phonecall" style="font-size: 12px; color: black; font-weight: bold; margin-top: 0px">Phone Call</span>
                <hr style="border: 0 ! important; margin-top: 2%; margin-bottom: 5%; border-top: 1px solid  #FF6937 !important;" />
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <img style="margin-right: 1px;" src="~/img/mb.png" />&nbsp  <span style="font-size: 11px; color: #FF6937;">Mobile</span>
                </div>
                <div class="col-sm-6">
                    <span id="span_phone_phonecall_shared" style="font-size: 11px;">987654321</span>
                </div>
            </div>
            <div class="col-sm-12">
                <hr style="margin-bottom: 2%; margin-top: 2%;" />
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <img style="margin-left: -2px;" src="~/img/office.png" />
                    <span style="font-size: 11px; color: #FF6937;">Office</span>
                </div>
                <div class="col-sm-6">
                    <span id="span_phone2_phonecall_shared" style="font-size: 11px;">987654321</span>
                </div>
            </div>
            <div class="col-sm-12">
                <hr style="margin-bottom: 2%; margin-top: 2%;" />
            </div>
            <div class="modal-footer">
                <div class="col-sm-12" style="text-align: center">
                    <a href="#" class="btn" id="phonecall_popup_cancel" style="border-radius: 5px !important; background-color: gray; color: white; font-weight: 500; font-size: 11px;">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function(){
        debugger;
        var SharedAgentid=@ViewingAgentID;
        viewprofile(SharedAgentid);
    });

    $('#phonecall_popup_cancel').click(function (){
        $('#PhoneCallModelShared').modal('hide');
    });
    $('#agentphoneinpopup_Share').click(function (){
        $('#PhoneCallModelShared').modal('show');
    });
    $(".list-group-item").click(function(){
        var id=$(this).attr('id');
        $('.list-group-item').removeClass('myactive');
        $('#'+id).addClass('myactive');
    })
    var citynames = [];
    var zipcodes = [];
    var resultsData = [];
    var sortbyid = "1";
    var viewagentid = "";
    var removeagentid = "";
    var myagentid = "";
    var agenttemp="";
    var addagent="";
    citynames = ["Greenville", "Greer", "Spartanburg"];

    $('#ViewAgent').on('shown.bs.modal', function () {
        $('.nav-tabs a[href="#tabs-demo2-area1"]').tab('show');

    });

    $('#searchagents').click(function () {
        $('#searchbtn').click();
    });
    function viewprofile(agentid) {

        $("#activeListingsDiv").empty();
        viewagentid = agentid;
        debugger;
        $.ajax({
            url: "/Customer/ManageSearchAgent/GetAgentProfile",
            type: "GET",
            dataType: "json",
            data: {agentid : agentid},
            success: function (data) {
                if (data.length > 0) {
                    $('#span_phone_phonecall_shared').text(data[0].MobileNo);
                    $('#span_phone2_phonecall_shared').text(data[0].OfficeNo);
                    $("#agentname").text(data[0].FirstName+" "+data[0].LastName);
                    $("#agentcompany").text(data[0].AOOfcName);
                    $("#summarycontent").text(data[0].About);
                    $("#lbl_experience_agent").text(data[0].Experience + " Years");
                    //$("#agentweb").attr('href',"http://www.google.com");
                    $("#agentweb").attr('href',data[0].WebSite);

                    if(data[0].AgentType=="Buyer Agent")
                    {
                        $('#btnbuyer').show();
                        $('#btnlisting').hide();
                    }
                    else if(data[0].AgentType=="Listing Agent")
                    {
                        $('#btnbuyer').hide();
                        $('#btnlisting').show();
                    }
                    else if(data[0].AgentType=="Both")
                    {
                        $('#btnbuyer').show();
                        $('#btnlisting').show();
                    }
                    var areasserved=data[0].AreasServed;
                    var bindareas=$('<div class="row"></div>');
                    var citieslist='';
                    if( areasserved != null){
                        $.each(areasserved.split(':'), function (k, area) {
                            if (area != "") {
                                if (area.indexOf(":") >= 0){
                                    //citieslist= citieslist+'<br /><img src="/img/bulletDot.png" />&nbsp '+
                                    //       '<span style="color:#FF5D26">'+home.split(':')[0]+':</span> &nbsp '+home.split(':')[1];
                                    citieslist=citieslist+'<div class="col-md-6" style="padding-left:0;text-align:left;">'
                                                  +'<img src="/img/bulletDot.png" style="margin-bottom:1px;" /> &nbsp; <span>'+area.split(':')[0]+'</span><br />'
                                              +'</div>';
                                }
                                else{
                                    citieslist = citieslist + '<div class="col-md-6" style="padding-left:0;text-align:left;">'
                                                  +'<img src="/img/bulletDot.png" style="margin-bottom:1px;" /> &nbsp; <span>'+area+'</span><br />'
                                              +'</div>';
                                }
                            }
                        });
                        bindareas.append(citieslist);
                    }
                    $('#div_arearsserved').html(bindareas);
                    //$('#item1o').addClass('hide');
                    //$('#item2o').addClass('hide');
                    //$('#item3o').addClass('hide');
                    $('#item4o').hide();
                    //$('#item5o').addClass('hide');
                    //$('#item1').removeClass('item').addClass('hide');
                    //$('#item2').removeClass('item').addClass('hide');
                    //$('#item3').removeClass('item').addClass('hide');
                    $('#item4').removeClass('item').addClass('hide');
                    //$('#item5').removeClass('item').addClass('hide');
                    //$('#item2').hide();
                    //$('#item3').hide();
                    //$('#item4').hide();
                    //$('#item5').hide();
                    debugger;
                    if(data[0].Testimonials1 != null){
                     //   $('#item1o').removeClass('hide');
                        $('#item1p').text(data[0].Testimonials1);
                      //  $('#item1').removeClass('hide').addClass('item');

                    }
                    if(data[0].Testimonials2 != null){
                      //  $('#item2o').removeClass('hide');
                        $('#item2p').text(data[0].Testimonials2);
                       // $('#item2').removeClass('hide').addClass('item')
                       // $('#item2').show();

                    }
                    if(data[0].Testimonials3 != null){
                      //  $('#item3o').removeClass('hide');
                      //  $('#item3o').addClass('active');
                        $('#item3p').text(data[0].Testimonials3);
                      //  $('#item3').removeClass('hide').addClass('active item')

                    }
                    if(data[0].Testimonials4 != null){
                         $('#item4o').show();
                        $('#item4p').text(data[0].Testimonials4);
                        $('#item4').removeClass('hide').addClass('item')

                    }
                    if(data[0].Testimonials5 != null){
                       // $('#item5o').removeClass('hide');
                        $('#item5p').text(data[0].Testimonials5);
                       // $('#item5').removeClass('hide').addClass('item')

                    }
                    if(data[0].IMAGE!="," && data[0].IMAGE!=null && data[0].IMAGE!="null")
                    {

                        $("#agentphotoinpopup").attr('src',data[0].IMAGE)
                    }
                    $('#ViewAgent').modal("show");
                }
            },
        });
    }
    function viewagentprofile() {
        viewprofile($("#hiddenagentid").text());
        viewagentid = $("#hiddenagentid").text();
        //$('#ViewAgent').modal("show");
    }
    function ActiveListingsofAgent()
    {
        $.ajax({
            url: "/Customer/ManageSearchAgent/ActiveListingsofAgent",
            type: "GET",
            dataType: "json",
            data: { agentid: viewagentid },
            success: function (data) {
                if (data.length > 0) {
                    bindActiveListings(data);
                }
            },
        });
    }
    function bindActiveListings(data)
    {
        $("#activeListingsDiv").empty();
        $.each(data, function (i, item) {
            var photo = "",price="",imagepin="",favimage="",sqftAcres="";
            if (item.Photolocation.toString().indexOf(',') > -1) {
                photo = item.Photolocation.split(',')[0];
            }
            else
                photo = item.Photolocation;
            if (item.Class == "Rental") {
                price = "$ " + (item.ListingPrice + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + "/mo";
                if (item.Is_Viewd == "YES")
                    imagepin = '<img src="/img/viewed_graypin.png" height="20" style="position:relative; top:-2px" />'
                else
                    imagepin = '<img src="/img/gray_legendMenu.png" height="20" style="position:relative; top:-2px" />'

            }
            else {
                price = "$ " + (item.ListingPrice + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
                if (item.Sale_Rent == "Sold") {
                    if (item.Is_Viewd == "YES")
                        imagepin = '<img src="/img/viewed_redpin.png" height="20" style="position:relative; top:-2px" />'
                    else
                        imagepin = '<img src="/img/red_legendMenu.png" height="20" style="position:relative; top:-2px" />'
                }
                else if (item.Sale_Rent == "Active") {
                    if (item.Is_Viewd == "YES")
                        imagepin = '<img src="/img/viewed_greenpin.png" height="20" style="position:relative; top:-2px" />'
                    else
                        imagepin = '<img src="/img/Green_legend_Menu.png" height="20" style="position:relative; top:-2px" />'
                }
                else if (item.Sale_Rent == "Pending") {
                    if (item.Is_Viewd == "YES")
                        imagepin = '<img src="/img/yellow_legendMenu.png" height="20" style="position:relative; top:-2px" />'
                    else
                        imagepin = '<img src="/img/viewed_yellowpin.png" height="20" style="position:relative; top:-2px" />'
                }
            }
            if (item.Is_Favorite == "YES")
            {
                favimage = '<a href="#" style="text-decoration:none"><img src="/img/hearticon.png" height="20" id="'+item.MLSId+'" style="position:relative; margin-top:25px" /></a>'
            }
            else {
                favimage = '<a href="#" style="text-decoration:none"><img src="/img/heartmi.png" height="20" id="'+item.MLSId+'" style="position:relative; margin-top:25px" /></a>'
            }
            if(item.Class=="Lots/Land"){
                sqftAcres=item.ApproxAcres + ' acres';
            }
            else{
                sqftAcres=item.ApproxAcres + ' sqft';
            }
            var listingdata = '<div class="col-sm-12" style="padding:0;height:101px;position:relative;border-bottom: 1px solid #ff5d26;">'
                + '<div class="col-sm-3" style="background-image:url(' + photo + ');background-repeat:no-repeat;background-size:100% 97%; height:100px;"></div>'
                +'<div class="col-sm-3" style="border-right:1px solid lightgray;padding-left:20px;height:100px;">'
                 +'<table><tr><td>&nbsp;</td></tr><tr><td>'+imagepin+''
                 +'<span style="font-weight:bold;color: #FF6937 !important;font-size:15px">'+price+'</span></td></tr>'
                 + '<tr><td><span style="font-weight:bold;font-size:16px">' + item.ADDRESKKS.split(',')[0] + '</span></td></tr>'
                 +'<tr><td><span style="font-size:13px;">'+item.City+'</span></td></tr>'
                 + '<tr><td><span style="color:#878a8c !important;font-size:12px;">MLS#' + item.MLSId + '</span></td></tr></table></div>'
                 +'<div class="col-sm-2"><table><tr><td>&nbsp;</td></tr><tr><td><span class="bedndbathno">'+item.Bedrooms+'</span>&nbsp;&nbsp;<span>Bedrooms</span></td></tr>'
                 + '<tr><td><span class="bedndbathno">' + item.BathRooms + '</span>&nbsp;&nbsp;<span>Bathrooms</span></td></tr><tr><td><span class="sqft">' + sqftAcres + '</span></td></tr></table></div>'
                 +'<div class="col-sm-4" style="height:100px;position:relative;"><div class="col-sm-8" style="position:relative;text-align:center">'
                 +'<div class="col-sm-12" style="padding:0;position:absolute;background-color:#fd6c053d;top:70px;height:30px;border:1px solid #ff5e0057;width:65%;border-radius:5px 5px 0px 0px">'
                 +'<div class="col-sm-8" style="top: 5px;"><label>Drive by</label></div><div class="col-sm-4" style="top:5px;padding:0;text-align: left;"><span><input type="checkbox" style="" name="drivebyAddress" value="'+item.ADDRESKKS+'" id="drive'+item.MLSId+'" onclick="return pushAddresses(\'' + item.ADDRESKKS + '\',\'drive' + item.MLSId + '\')"></span></div></div></div>'
                 +'<div class="col-sm-2">'+favimage+'</div>'
                 + '<div class="col-sm-2"><a href="#" style="color:#ff5d26" onclick="return getFulldetailsbyMLSID(\'' + item.MLSId + '\',\'' + item.Is_Favorite + '\')"><img src="/img/lit_icon_btn.png" style="margin-top:45px;" height="26" alt=""></a></div></div>'
               + '</div>';
            $("#activeListingsDiv").append(listingdata)
        });
    }
    function RecentListingsofAgent()
    {
        $.ajax({
            url: "/Customer/ManageSearchAgent/RecentListingsofAgent",
            type: "GET",
            dataType: "json",
            data: { agentid: viewagentid },
            success: function (data) {
                if (data.length > 0) {
                    bindRecentListings(data);
                }
            },
        });
    }
    function bindRecentListings(data)
    {
        $("#recentListingsDiv").empty();
        $.each(data, function (i, item)
        {
            var photo = "",price="",imagepin="",favimage="",sqftAcres="";
            if (item.Photolocation.toString().indexOf(',') > -1)
                photo = item.Photolocation.split(',')[0];
            else
                photo = item.Photolocation;
            if (item.Class == "Rental") {
                price = "$ " + (item.ListingPrice + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + "/mo";
                if (item.Is_Viewd == "YES")
                    imagepin = '<img src="/img/viewed_graypin.png" height="20" style="position:relative; top:-2px" />'
                else
                    imagepin = '<img src="/img/gray_legendMenu.png" height="20" style="position:relative; top:-2px" />'
            }
            else {
                price = "$ " + (item.ListingPrice + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
                if (item.Sale_Rent == "Sold") {
                    if (item.Is_Viewd == "YES")
                        imagepin = '<img src="/img/viewed_redpin.png" height="20" style="position:relative; top:-2px" />'
                    else
                        imagepin = '<img src="/img/red_legendMenu.png" height="20" style="position:relative; top:-2px" />'
                }
                else if (item.Sale_Rent == "Active") {
                    if (item.Is_Viewd == "YES")
                        imagepin = '<img src="/img/viewed_greenpin.png" height="20" style="position:relative; top:-2px" />'
                    else
                        imagepin = '<img src="/img/Green_legend_Menu.png" height="20" style="position:relative; top:-2px" />'
                }
                else if (item.Sale_Rent == "Pending") {
                    if (item.Is_Viewd == "YES")
                        imagepin = '<img src="/img/yellow_legendMenu.png" height="20" style="position:relative; top:-2px" />'
                    else
                        imagepin = '<img src="/img/viewed_yellowpin.png" height="20" style="position:relative; top:-2px" />'
                }
            }
            if(item.Class=="Lots/Land")
                sqftAcres=item.ApproxAcres + ' acres';
            else
                sqftAcres=item.ApproxAcres + ' sqft';
            if (item.Is_Favorite == "YES")
                favimage = '<a href="#" style="text-decoration:none"><img src="/img/hearticon.png" height="20" id="'+item.MLSId+'" onclick="return favChange(\'' + item.MLSId + '\',\'' + item.Is_Favorite + '\')" style="position:relative; margin-top:25px" /></a>'
            else
                favimage = '<a href="#" style="text-decoration:none"><img src="/img/heartmi.png" height="20" id="'+item.MLSId+'" onclick="return favChange(\'' + item.MLSId + '\',\'' + item.Is_Favorite + '\')" style="position:relative; margin-top:25px" /></a>'
            var recentlisting='<div class="col-sm-12" style="padding:0;height:101px;position:relative;border-bottom: 1px solid #ff5d26;">'
                +'<div class="col-sm-3" style="padding:0;background-image:url(' + photo + ');background-repeat:no-repeat;background-size:100% 97%; height:100px;"></div>'
                +'<div class="col-sm-3" style="border-right:1px solid lightgray;padding-left:20px;height:100px;"><table><tr><td>&nbsp;</td></tr>'
                +'<tr><td>'+imagepin+''
                +'<span style="font-weight:bold;color: #FF6937 !important;font-size:15px">'+price+'</span></td></tr>'
                +'<tr><td><span style="font-weight:bold;font-size:16px">' + item.ADDRESKKS.split(',')[0] + '</span></td></tr>'
                +'<tr><td><span style="font-size:13px;">'+item.City+'</span></td></tr>'
                +'<tr><td><span style="color:#878a8c !important;font-size:12px;">MLS#' + item.MLSId + '</span></td></tr></table></div>'
                +'<div class="col-sm-2"><table><tr><td>&nbsp;</td></tr><tr><td><span class="bedndbathno">' + item.Bedrooms + '</span>&nbsp;&nbsp;<span>Bedrooms</span></td></tr>'
                +'<tr><td><span class="bedndbathno">' + item.BathRooms + '</span>&nbsp;&nbsp;<span>Bathrooms</span></td></tr><tr><td><span class="sqft">'+sqftAcres+'</span></td></tr></table></div>'
               +' <div class="col-sm-4" style="height:100px;position:relative;"><div class="col-sm-8" style="position:relative;text-align:center">@*<div style="position:absolute;background-color:#fd6c053d;top:82px;
                +'height:30px;border:1px solid #ff5e0057;width:80%;border-radius:5px 5px 0px 0px">
               +'Drive by<input type="checkbox" style="margin-left:8px;"></div>*@</div>'
                +'<div class="col-sm-2">'+favimage+'</div>'
                +'<div class="col-sm-2"><a href="#" style="color:#ff5d26" onclick="return getFulldetailsbyMLSID(\'' + item.MLSId + '\',\'' + item.Is_Favorite + '\')">'
                +'<img  src="/img/lit_icon_btn.png" style="margin-top:45px;" height="26" alt=""></a></div></div>'
               +'</div>';
            $("#recentListingsDiv").append(recentlisting)
        });
    }
    var drivebyCount=0,drivebyList=[];
    function pushAddresses(mlsaddress,checkboxid)
    {
        if ($('#'+checkboxid).is(":checked")) {
            drivebyCount=drivebyCount+1;
        }
        else {
            drivebyCount=drivebyCount-1;
        }
        if(drivebyCount>0)
        {
            // $("#footerdrivebybutton").show();
        }
        else
        {
            // $("#footerdrivebybutton").hide();
        }

    }

    $("#show_driveby_btn").click(function(){
        drivebyList=[];
        $.each($("input[name='drivebyAddress']:checked"), function () {
            drivebyList.push($(this).val());
        });
        drivebyList=drivebyList.join('/');
        var street='https://www.google.com/maps/dir/' + drivebyList;
        window.open(street, '_blank');
    })
    function getagentdetails() {
        agenttemp="NO";
        $.ajax({
            url: "/Customer/ManageSearchAgent/GetMyAgentdetails",
            type: "GET",
            dataType: "json",
            data: {},
            success: function (data) {
                if (data.length > 0) {
                    //$("#agent_div_inpopup").show();

                    $('#div_myagentdetails').css('display', 'block');
                    if (data[0].AgentImage == null || data[0].AgentImage == "" || data[0].AgentImage == ",") {
                        $('#myagenyphoto').attr('src', '/img/addphotopic.png');
                    }
                    else
                        $('#myagenyphoto').attr('src', data[0].AgentImage);
                    $('#myagentname').html(data[0].FirstName +" "+ data[0].LastName);
                    $('#myagenttype').html(data[0].AgentType);
                    $("#hiddenagentid").html(data[0].AgentID)
                    $('#myagentofc').html(data[0].AgentBrokerage);
                    myagentid = data[0].AgentID;
                    agenttemp="YES";
                    $("#agentinfodiv").hide();

                    //alert(myagentid);
                }
                else
                {
                    //$("#agent_div_inpopup").hide();
                    $("#agentinfodiv").show();
                    $('#div_myagentdetails').css('display', 'none');
                }

            }
        });
    }
    function removeagenttouser(agentid) {

        $('#RemoveAgentexpplanation').modal("hide");
        var explantiondata = "";
        explantiondata = $("#inputremoveexplanation").val();
        $.ajax({
            url: "/Customer/ManageSearchAgent/PostRemoveAgent",
            type: "POST",
            dataType: "json",
            data: { AgentID: agentid, Explanation: explantiondata },
            success: function (data) {
                debugger;
                if(data[0].STATUS=="Removed"){
                    $('#searchbtn').click();
                    getagentdetails();
                    getUserAgetDetails();
                }
                else
                {
                    $("#heading").text("Warning");
                    $("#content_text").text("Something went wrong. Unable to remove Agent. Try Again !");
                    $("#AlertPopup").modal("show");
                }
            },
            error: function () {
            }
        });
    }
    $('#btnYesRemoveAgent').click(function () {
        $('#RemoveAgent').modal("hide");
        $("#inputremoveexplanation").val('');
        $('#explanationerror').hide();
        $('#RemoveAgentexpplanation').modal("show");
    });
    $('#btnsubmitexplanation').click(function () {
        if($("#inputremoveexplanation").val().length>0){
            removeagenttouser(removeagentid);
        }
        else
            $('#explanationerror').removeAttr('hidden');
        $('#explanationerror').show();
    });
    $('#btndeclineexplanation').click(function () {
        removeagenttouser(removeagentid);
    });
    //FAvourite change functionality from Agent Active listings and Recene sales
    function favChange(imgid,isfav){
        alert(imgid+",,,,"+isfav)
        var fav;
        if(isfav=="NO"){
            fav=1;
            $("#"+imgid).attr('src','/img/hearticon.png');
        }
        else{
            fav=0;
            $("#"+imgid).attr('src','/img/heartmi.png');
        }
        $.ajax({
            url: "/Customer/SearchFilter/FavrouriteChanges/",
            type: "POST",
            dataType: "json",
            data: { MLSId: imgid, Fav: fav },
            success: function (data) {
                if (data == "Sucess") {
                    ActiveListingsofAgent();
                }
            },
        });
        //ActiveListingsofAgent();
    }
</script>
@*//Script For Property Details PopUp, photo sliders,photo uploading ans summary function*@
<script>
    var PopupPhotos=[],pushimages=[];
    //Get Fulldetails by MLSID
    function getFulldetailsbyMLSID(MLSID,Isfav)
    {
        MLS_ID=MLSID;
        $('#HomepopupPrevImgBtn').hide();
        $('#popupPrevImgBtn').hide();
        var isFavS=Isfav;
        var UserID=@PkeyUserId;
        if(UserID==0)
        {
            //$('#navLogin').click();
            $("#img_heart").attr("src","/img/heartmi.png");
        }
        else
        {
            if(isFavS=="NO"){
                $("#img_heart").attr("src","/img/heartmi.png");
            }
            else if(isFavS=="YES")
            {
                $("#img_heart").attr("src","/img/hearticon.png");
            }
        }
        var ImgSrc = $("#img_heart").attr('src');
        propertydetilsclear();
        $.ajax({
            url: "/Customer/SearchFilter/GetFullDetails",
            type: "POST",
            dataType: "json",
            data: { MLSID: MLSID },
            success: function (data) {
                PopupPhotos=[];
                if(data[0].PhotoLocation!=null)
                {
                    pushimages.push(data[0].PhotoLocation);
                    //alert(item.Photolocation);
                    if(pushimages.length>0)
                    {
                        if(pushimages.length=="0")
                            PopupPhotos=data[0].PhotoLocation;
                        else
                            PopupPhotos=data[0].PhotoLocation.split(',');
                    }
                }
                $("#class_lbl").text(data[0].Class);
                if(data[0].Class=="Residential" || data[0].Class=="Rental")
                {
                    //$('#btn_Details').click();
                    $('#ModelDetails').show();
                    $('#HomePopupImgDiv').css("background-image",'url('+ PopupPhotos[0]+')');
                    if(PopupPhotos.length==1)
                    {
                        $('#HomepopupNextImgBtn').hide();
                    }
                    else
                    {
                        $('#HomepopupNextImgBtn').show();
                    }
                    ResidentialDetails(data);
                    $('#HomeTotalPhotocount').html(PopupPhotos.length);
                }
                else if(data[0].Class=="Lots/Land")
                {
                    $('#Lot_Land_ModelDetails').show();
                    $('#Lot_Land_ModelDetails').show();
                    $('#LotPopupImgDiv').css("background-image",'url('+ PopupPhotos[0]+')');
                    if(PopupPhotos.length==1)
                    {
                        $('#popupNextImgBtn').hide();
                    }
                    else{
                        $('#popupNextImgBtn').show();
                    }
                    $('#TotalPhotocount').html(PopupPhotos.length);
                    LotLandDetails(data);
                }
            }
        });
    }
    //Start : share and Copy link from share property Share Propert
    var share_prop_url="";
    $("#prop_copylink").click(function(){
        // var ExpandMLSID=$("#lbl_MLSID").text().toString().split("#")[1];
        if($("#span_sale_rent").val=="Under Contract" || $("#span_sale_rent").val=="For Sale")
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+MLS_ID;
        else
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+MLS_ID;
        $( '#proplink' ).text(share_prop_url);
        var clipboard = new Clipboard('.mycopy')
    });
    function fb_prop_Share( title, descr, image) {
        if($("#span_sale_rent").val=="Under Contract" || $("#span_sale_rent").val=="For Sale")
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+MLS_ID;
        else
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+MLS_ID;
        var quote = '';
        var ShareLinkFb='https://www.facebook.com/sharer/sharer.php?u=' + share_prop_url + '&picture=http://restapi.devobal.com/Images/logomi.png&title=' + title + '&quote=' + quote + '&description=' + descr + '';
        //alert(ShareLinkFb)
        window.open(ShareLinkFb);
    }
    function fbShare_prop_google( title, descr, image) {
        if($("#span_sale_rent").val=="Under Contract" || $("#span_sale_rent").val=="For Sale")
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+MLS_ID;
        else
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+MLS_ID;
        //url='http://webapp.quitchet.com';
        var quote = '';

        var ShareLinkgoogle='https://plus.google.com/share?url=' + share_prop_url + '';

        window.open(ShareLinkgoogle);
    }
    function fbShare_prop_twitter( title, descr, image) {
        if($("#span_sale_rent").val=="Under Contract" || $("#span_sale_rent").val=="For Sale")
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+MLS_ID;
        else
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+MLS_ID;
        //url='http://webapp.quitchet.com';
        var quote = '';
        var ShareLinkgoogle='https://twitter.com/share?url=' + share_prop_url + '&picture=http://restapi.devobal.com/Images/logomi.png&title=' + title + '&quote=' + quote + '&description=' + descr + '';
        //alert(ShareLinkgoogle)
        window.open(ShareLinkgoogle);
    }
    function fbShare_prop_linkedin(title, descr, image) {
        if($("#span_sale_rent").val=="Under Contract" || $("#span_sale_rent").val=="For Sale")
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+MLS_ID;
        else
            share_prop_url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+MLS_ID;
        //url='http://webapp.quitchet.com';
        var quote = '';
        var ShareLinkgoogle='https://www.linkedin.com/shareArticle?mini=true&url=' + share_prop_url + '&picture=http://restapi.devobal.com/Images/logomi.png&title=' + title + '&quote=' + quote + '&description=' + descr + '';

        window.open(ShareLinkgoogle);
    }
    //share property functionality
    $("#shareprop_popupbtn,#lots_shareprop_popupbtn").click(function(){
        $('#ShareProp_Popup').show();
    });
    $("#cancel_prop_sharebtn").click(function(){
        $('#ShareProp_Popup').hide();
    });
    @* Start Code For PopUps Visibles *@
    var showstatus="0";
    $("#phonecall_popup_cancel").click(function () {
        $('#PhoneCallModel').hide();
    });
    $("#phone_img,#LotLand_phone_img").click(function () {
        $('#PhoneCallModel').show();
    });
    $("#PropertyDetails_Cancel").click(function () {
        $('#ModelDetails').hide();
        $('#MyNotePopup').modal("hide");
        $('#PhoneCallModel').modal("hide");
    });
    $("#Mynote_Cancel").click(function () {
        $('#MyNotePopup').modal("hide");
    });
    $('#MyNotePopup').on('shown.bs.modal', function () {
        $("#MyNote").focus();
    });
    $("#img_heart").click(function () {
        var UserMLSID=$("#lbl_MLSID").text().toString().split("#")[1];
        var class_type_label=$("#class_lbl").text();
        FavouriteChangeDetails(UserMLSID,class_type_label);
    });
    @* End Code For PopUps Visibles *@
    function OpenFileUploader() {
        $('#FileUploader').click();
    }
    $('#FileUploader').change(function () {
        filename = $('#FileUploader').val().split('\\').pop();
    });
    @* Start Print Functinolity *@
    function printDiv()
    {
        var ExpandMLSID=$("#lbl_MLSID").text().toString().split("#")[1];
        var url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+ExpandMLSID;
        window.open(url, '_blank');
    }
    function printDivLot(){
        var ExpandMLSID=$("#Lot_lbl_MLSID").text().toString().split("#")[1];
        var url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+ExpandMLSID;
        window.open(url, '_blank');
    }
    @* END Print Functinolity *@
    @* Start Favourite Property Details*@
    function  FavouriteChangeDetails(UserMLSID,class_type_label) {
        var UserID=@PkeyUserId;
        var Fav = 0;
        var ImgSrc="",imgid="";
        if(class_type_label=="Lots/Land")
        {
            imgid="Lot_img_heart"
        }
        else
        {
            imgid="img_heart"
        }
        var ImgSrc = $("#"+imgid).attr('src');
        if (ImgSrc == "/img/heartmi.png") {
            Fav = 1;
            $.ajax({
                url: "/Customer/SearchFilter/FavrouriteChanges/",
                type: "POST",
                dataType: "json",
                data: { MLSId: UserMLSID, Fav: Fav },
                success: function (data) {

                    if (data == "Sucess") {
                        ImgSrc = $("#"+imgid).attr('src');
                        if (ImgSrc == "/img/heartmi.png") {
                            $("#"+imgid).attr("src", "/img/hearticon.png");

                        }
                        else {
                            $("#"+imgid).attr("src", "/img/heartmi.png");
                        }
                        //  getdatabycurrentUser();
                    }
                    else {
                    }
                },
                error: function () {
                }
            });
        }
        else {
            $('#prptdetails_RemoveFavorite').modal("show");
            $('#btn_prptdetails_YesRemoveFavorite').click(function(){
                Fav = 0;
                $("#"+imgid).attr("src", "/img/heartmi.png");
                $.ajax({
                    url: "/Customer/SearchFilter/FavrouriteChanges/",
                    type: "POST",
                    dataType: "json",
                    data: { MLSId: UserMLSID, Fav: Fav },
                    success: function (data) {
                        if (data == "Sucess") {
                            // getdatabycurrentUser();
                        }
                        else {
                        }
                    },
                    error: function () {
                    }
                });
            });
        }
    };
    @* End Favourite Property Details *@

    @* Stsrt UserNote Get Data *@
    $('#btn_Mynote').click(function () {
        var UserID=@PkeyUserId;
        if(UserID=="" || UserID.length<0)
        {
            $('#ModelDetails').hide();
            $('#MyNotePopup').modal("hide");
            $('#PhoneCallModel').modal("hide");
            $('#navLogin').click();
        }
        else
        {
            $('#MyNotePopup').modal("show");
            UserNoteMLSID=$("#lbl_MLSID").text().toString().split("#")[1];
            getnote(UserNoteMLSID);
        }
    });
    @* End UserNote Get Data *@
    @* UserNote Post Data *@
    $('#Mynote_Save').click(function () {
        var UserID=@PkeyUserId;
        if($('#MyNote').val()=="")
        {
            $('#span_mynote').html("Please Enter Note");
        }
        else if(UserID=="" || UserID.length<0)
        {
            $('#span_mynote').html("");
            $('#navLogin').click();
            $('#ModelDetails').modal("hide");
            $('#MyNotePopup').modal("hide");
            $('#PhoneCallModel').modal("hide");
        }
        else
        {
            $('#span_mynote').html("");
            var UserNoteMLSID=$("#lbl_MLSID").text().toString().split("#")[1];
            var MyNote=$('#MyNote').val();
            $.ajax({
                url: "/Customer/SearchFilter/UserNoteUpdate/",
                type: "POST",
                dataType: "json",
                data: { MLSId: UserNoteMLSID, UserNote: MyNote },
                success: function (data) {
                    if (data == "Sucess") {
                        $('#MyNotePopup').modal("hide");
                        showstatus="1";
                        $('#MyNote').val('');
                    }
                    else {
                    }
                },
                error: function () {
                }
            });
        }
    });
    //Start : Script ForPropert Detailss Popup
    var flag_RightCollapse = 0;
    var flag1 = 0;
    var flag2 = 0;
    var flag3 = 0;
    var flag4 = 0;
    var flag5 = 0;
    var flag6 = 0;
    $('#div_tog_roomsizes').hide();
    $("#btn_agentremarks").click(function () {
        if (flag_RightCollapse == 0) {
            $("#div_tog_agent").css("background-color", "#f56331");
            $("#aagent").attr('class', 'fa fa-angle-up');
            $("#aagent").css('color', 'white');
            $("#btn_agentremarks").attr('class', 'btn btn-primary btnclass2');
            $("#text_agentheading").html("Listing Agent Remarks");
            flag_RightCollapse = 1;
        }
        else {
            $("#btn_agentremarks").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_agent").css("background-color", "white");
            $("#aagent").attr('class', 'fa fa-angle-down');
            $("#aagent").css('color', '#f56331');
            $("#text_agentheading").html("Agent Remarks");
            flag_RightCollapse = 0;
        }
    });
    $("#btn_mainfetures").click(function () {
        $('#div_tog_roomsizes').show();
        if (flag1 == 0) {
            $("#div_tog_mainfeature").css("background-color", "#f56331");
            $("#amainfeature").attr('class', 'fa fa-angle-up');
            $("#amainfeature").css('color', 'white');
            $("#btn_mainfetures").attr('class', 'btn btn-primary btnclass2');
            flag1 = 1;
        }
        else {
            $("#amainfeature").attr('class', 'fa fa-angle-down');
            $("#amainfeature").css('color', '#f56331');
            $("#btn_mainfetures").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_mainfeature").css("background-color", "white");
            flag1 = 0;
        }
    });
    $("#btn_school").click(function () {
        if (flag2 == 0) {
            $("#div_tog_school").css("background-color", "#f56331");
            $("#aschool").attr('class', 'fa fa-angle-up');
            $("#aschool").css('color', 'white');
            $("#btn_school").attr('class', 'btn btn-primary btnclass2');
            flag2 = 1;
        }
        else {
            $("#aschool").attr('class', 'fa fa-angle-down');
            $("#aschool").css('color', '#f56331');
            $("#btn_school").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_school").css("background-color", "white");
            flag2 = 0;
        }
    });
    $("#btn_featuresandamenities").click(function () {
        if (flag3 == 0) {

            $("#div_tog_featuresandamenities").css("background-color", "#f56331");
            $("#afeaturesandamenities").attr('class', 'fa fa-angle-up');
            $("#afeaturesandamenities").css('color', 'white');
            $("#btn_featuresandamenities").attr('class', 'btn btn-primary btnclass2');
            if($('#text_Renatlfeatues').html()=="Home Features" || $('#text_Renatlfeatues').html()=="Home Features &amp; Amenities")
                $("#text_Renatlfeatues").html("Home Features & Amenities");
            else
                $("#text_Renatlfeatues").html("Rental Features");
            flag3 = 1;
        }
        else {
            $("#afeaturesandamenities").attr('class', 'fa fa-angle-down');
            $("#afeaturesandamenities").css('color', '#f56331');
            $("#btn_featuresandamenities").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_featuresandamenities").css("background-color", "white");
            //$("#text_Renatlfeatues").html("Rental Features");
            if($('#text_Renatlfeatues').html()=="Home Features &amp; Amenities" || $('#text_Renatlfeatues').html()=="Home Features")
                $("#text_Renatlfeatues").html("Home Features");
            else
                $("#text_Renatlfeatues").html("Rental Features");
            flag3 = 0;
        }
    });
    $("#btn_heating").click(function () {
        if (flag4 == 0) {
            $("#div_tog_heating").css("background-color", "#f56331");
            $("#aheating").attr('class', 'fa fa-angle-up');
            $("#aheating").css('color', 'white');
            $("#btn_heating").attr('class', 'btn btn-primary btnclass2');
            $("#text_heatingandcooling").html("Utilities/Heating & Cooling");
            flag4 = 1;
        }
        else {
            $("#aheating").attr('class', 'fa fa-angle-down');
            $("#aheating").css('color', '#f56331');
            $("#btn_heating").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_heating").css("background-color", "white");
            $("#text_heatingandcooling").html("Heating & Cooling");
            flag4 = 0;
        }
    });
    $("#btn_finance").click(function () {
        if (flag5 == 0) {
            $("#div_tog_finance").css("background-color", "#f56331");
            $("#afinance").attr('class', 'fa fa-angle-up');
            $("#afinance").css('color', 'white');
            $("#btn_finance").attr('class', 'btn btn-primary btnclass2');
            flag5 = 1;
        }
        else {
            $("#afinance").attr('class', 'fa fa-angle-down');
            $("#afinance").css('color', '#f56331');
            $("#btn_finance").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_finance").css("background-color", "white");
            flag5 = 0;
        }
    });
    $("#btn_listing").click(function () {
        if (flag6 == 0) {
            $("#div_tog_listing").css("background-color", "#f56331");
            $("#alisting").attr('class', 'fa fa-angle-up');
            $("#alisting").css('color', 'white');
            $("#btn_listing").attr('class', 'btn btn-primary btnclass2');
            flag6 = 1;
        }
        else {
            $("#alisting").attr('class', 'fa fa-angle-down');
            $("#alisting").css('color', '#f56331');
            $("#btn_listing").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_listing").css("background-color", "white");
            flag6 = 0;
        }
    });
    function change(id1, id2, id3) {
        if (flag_RightCollapse == 0) {
            $('#'+id1).css("background-color", "#f56331");
            $('#'+id2).attr('class', 'fa fa-angle-up');
            $('#'+id2).css('color', 'white');
            $('#'+id3).attr('class', 'btn btn-primary btnclass2');
            flag_RightCollapse = 1;
        }
        else {
            $('#' + id2).attr('class', 'fa fa-angle-down');
            $('#' + id2).css('color', '#f56331');
            $('#' + id3).attr('class', 'btn btn-danger btnclass');
            $('#' + id1).css("background-color", "white");
            flag_RightCollapse = 0;
        }
    }
    // End : Property detail modal popup

    //function to clear property details columns data
    function propertydetilsclear()
    {
        $('#usernames').html("");
        $('#lbl_price').html("");
        $('#lbl_address1').html("");
        $('#lbl_address2').html("");
        $('#lbl_MLSID').html("");
        $('#span_agentremarks').html("");
        $('#span_type_mainfeatures').html("");
        $('#span_yearbuilt_mainfeatures').html("");
        $('#span_lotsize_mainfeatures').html("");
        $('#span_subdivison').html("");
        $('#span_stories_mainfeatures').html("");
        $('#span_bedrooms_mainfeatures').html("");
        $('#span_bathrooms_mainfeatures').html("");
        $('#span_garagetype_mainfeatures').html("");
        $('#span_garagecap_mainfeatures').html("");
        $('#span_livingrm_mainfeatures').html("");
        $('#span_dinningrm_mainfeatures').html("");
        $('#span_breakfastrm_mainfeatures').html("");
        $('#span_sunrm_mainfeatures').html("");
        $('#span_masterrm_mainfeatures').html("");
        $('#span_bedroom2_mainfeatures').html("");
        $('#span_bedroom3_mainfeatures').html("");
        $('#span_bedroom4_mainfeatures').html("");
        $('#span_bedroom5_mainfeatures').html("");
        $('#span_screend_mainfeatures').html("");
        $('#span_deck_mainfeatures').html("");
        $('#span_laundry_mainfeatures').html("");
        $('#span_elemetart_school').html("");
        $('#span_middle_school').html("");
        $('#span_highschool_school').html("");
        $('#span_appliances_interior').html("");
        $('#span_floors_interior').html("");
        $('#span_mbrfeatures_interior').html("");
        $('#span_laundry_interior').html("");
        $('#span_specialtyrm_interior').html("");
        $('#span_fireplace_interior').html("");
        $('#span_garage_interior').html("");
        $('#span_basement_interior').html("");
        $('#span_storagespace_interior').html("");
        $('#span_otherfeatures_interior').html("");
        $('#span_lotdescription_exterior').html("");
        $('#span_fondation_exterior').html("");
        $('#span_finish_exterior').html("");
        $('#span_roof_exterior').html("");
        $('#span_driveway_exterior').html("");
        $('#span_otherfeatures_exterior').html("");
        $('#span_condo_aminities').html("");
        $('#span_community_aminities').html("");
        $('#span_water_heating').html("");
        $('#span_sewer_heating').html("");
        $('#span_garbagepick_heating').html("");
        $('#span_waterheater_heating').html("");
        $('#span_heatsystem_heating').html("");
        $('#span_collsystem_heating').html("");
        $('#span_hoafee_finance').html("");
        $('#span_hoafeeterm_finance').html("");
        $('#span_additionalfee_finance').html("");
        $('#span_specialoptions_finance').html("");
        $('#span_taxinfo_finance').html("");
    }
    $("#roomsizes,#interiorhome,#exteriorhome,#aminities").click(function(){
        //var id=$(this).children('span').attr('id');
        if($(this).children('span').attr('class')=="fa fa-angle-down")
            $(this).children('span').attr('class','fa fa-angle-up');
        else
            $(this).children('span').attr('class','fa fa-angle-down');
    });
    @*Propert details Expand view*@
    $('#PropertyDetails_Expand').click(function(){
        var ExpandMLSID=$("#lbl_MLSID").text().toString().split("#")[1];
        var expnadimg = $("#img_heart").attr('src');
        var exisfav="";
        if (expnadimg == "/img/heartm.png") {
            exisfav="0";
        }
        else if (expnadimg == "/img/hearticon.png") {
            exisfav="1";
        }
        var url="http://webapp.quitchet.com/Customer/ExpandResidential/Index?MLSID="+ExpandMLSID;
        window.open(url, '_blank');
    });
    $('#btn_streetview,#btn_lot_streetview').click(function(){
        var street="https://www.google.com/maps/"+String.fromCharCode(64)+"?api=1&map_action=pano&viewpoint="+Geolat+","+Geolang+"&heading=-45&pitch=38&fov=80";
        window.open(street, '_blank');
    })
    $('#btn_Lot_Drivenby,#btn_Drivenby').click(function(){
        var street="https://www.google.com/maps/dir/?api=1&destination="+Geolat+","+Geolang+"&travelmode=drving";
        window.open(street, '_blank');
    })
    // function Residential Data
    function ResidentialDetails(data){
        $('#lbl_hdn_mlsid').text(data[0].MLSNo);
        $('#lbl_hdn_addr1').text(data[0].Address);
        $('#lbl_hdn_addr2').text(data[0].GeoSecCity +" "+data[0].GeoSubdiv+","+data[0].GeoPostCd);
        $('#lbl_hdn_photo').text(data[0].PhotoLocation.split(',')[0]);
        prop_mlc=data[0].MLSNo
        prop_img=data[0].PhotoLocation;
        var l=data[0].LA1FirstNm+" "+ data[0].LA1LastNam;
        $('#Listing_username').text(l);
        $('#Listing_agent_office').html(data[0].LO1OfcName);
        $('#lbl_agent_address2').html(data[0].SA1AdStrNm +" "+data[0].SA1City+","+data[0].SA1Zip);
        $('#lbl_agent_address1').html(data[0].SA1Addrss2);
        $('#lbl_agent_desg').html(data[0].SO1OfcName);
        $('#type').html(data[0].LO1OfficeName);
        var a=data[0].SA1FirstNm+" "+ data[0].SA1LastNam;
        $('#usernames').text(a);
        $('#span_name_phonecall').text(a);
        $('#contactname').html(a);
        $('#span_phone_phonecall').html(data[0].SA1Phn1Nbr);
        $('#span_phone2_phonecall').html(data[0].SO1Phn1Nbr);
        var price = (data[0].ListPrice + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        $('#span_quietchet_count').html(data[0].DaysInQuitchet);
        $('#lbl_address1').html(data[0].Address);
        $('#rno').html(data[0].Address);
        $('#addr').html(data[0].GeoSecCity +" "+data[0].GeoSubdiv+","+data[0].GeoPostCd);
        Geolat=data[0].GeoLat;
        Geolang=data[0].GeoLong;
        $('#lbl_address2').html(data[0].GeoSecCity +" "+data[0].GeoSubdiv+","+data[0].GeoPostCd);
        $('#lbl_MLSID').html("MLS#"+data[0].MLSNo);
        $('#mlc').html("MLS#"+data[0].MLSNo);
        $('#span_agentremarks').html(data[0].ConsRmks);
        $('#span_type_mainfeatures').html(data[0].Type);
        $('#span_yearbuilt_mainfeatures').html(data[0].ApproxYearBuilt);
        $('#span_lotsize_mainfeatures').html(data[0].Approx_ofAcres);
        $('#span_subdivison').html(data[0].Subdiv);
        $('#span_stories_mainfeatures').html(data[0].NoStor);
        $('#span_bedrooms_mainfeatures').html(data[0].NoBR);
        $('#span_sqft_mainfeatures').html(data[0].SqFt);
        var r=data[0].NoHB;
        var s=data[0].NoFB;
        var bathrooms= +r + +s;
        $('#span_bathrooms_mainfeatures').html(bathrooms);
        $('#span_garagetype_mainfeatures').html(data[0].GarType);
        $('#span_garagecap_mainfeatures').html(data[0].GarCap);
        $('#span_livingrm_mainfeatures').html(data[0].LivRmSz);
        $('#span_dinningrm_mainfeatures').html(data[0].DinRmSz);
        $('#span_breakfastrm_mainfeatures').html(data[0].BrkftSz);
        $('#span_sunrm_mainfeatures').html(data[0].SunRSz);
        $('#span_masterrm_mainfeatures').html(data[0].MstrBdSz);
        $('#span_bedroom2_mainfeatures').html(data[0].Bed2Sz);
        $('#span_bedroom3_mainfeatures').html(data[0].Bed3Sz);
        $('#span_bedroom4_mainfeatures').html(data[0].Bed4Sz);
        $('#span_bedroom5_mainfeatures').html(data[0].Bed5Sz);
        $('#span_screend_mainfeatures').html(data[0].PorchSz);
        $('#span_deck_mainfeatures').html(data[0].DeckSz);
        $('#span_laundry_mainfeatures').html(data[0].LnSz);
        $('#span_elemetart_school').html(data[0].Elementary);
        $('#span_middle_school').html(data[0].Middle);
        $('#span_highschool_school').html(data[0].High);
        $('#span_appliances_interior').html(data[0].APPLIANCES_NEW);
        $('#span_floors_interior').html(data[0].FLOORS);
        $('#span_mbrfeatures_interior').html(data[0].MRBEDFETRS);
        $('#span_laundry_interior').html(data[0].LAUNDRY);
        $('#span_specialtyrm_interior').html(data[0].SPECILTYRM);
        $('#span_fireplace_interior').html(data[0].FIREPLACE);
        $('#span_garage_interior').html(data[0].GarType);
        $('#span_basement_interior').html(data[0].BASEMENT);
        $('#span_storagespace_interior').html(data[0].STORAGESPC);
        $('#span_otherfeatures_interior').html(data[0].INTERRFTRS_NEW);
        $('#span_lotdescription_exterior').html(data[0].LOTDSCRPTN);
        $('#span_fondation_exterior').html(data[0].FOUNDATION);
        $('#span_finish_exterior').html(data[0].EXTERRFNSH);
        $('#span_roof_exterior').html(data[0].ROOF);
        $('#span_driveway_exterior').html(data[0].DRIVEWAY);
        $('#span_otherfeatures_exterior').html(data[0].EXTERRFTRS_NEW);
        $('#span_condo_aminities').html(data[0].CNDRGMNCLD);
        $('#span_community_aminities').html(data[0].HCMNTYMNTS);
        $('#span_water_heating').html(data[0].WATER);
        $('#span_sewer_heating').html(data[0].SEWER);
        $('#span_garbagepick_heating').html(data[0].GARBAGPCKP);
        $('#span_waterheater_heating').html(data[0].WATERHEATR);
        $('#span_heatsystem_heating').html(data[0].HETNGSYSTM);
        $('#span_collsystem_heating').html(data[0].COLNGSYSTM);
        $('#span_hoafee_finance').html(data[0].HAOrRegime);
        $('#span_hoafeeterm_finance').html(data[0].HOATerm);
        $('#span_additionalfee_finance').html(data[0].ADITIONLFS);
        $('#span_specialoptions_finance').html(data[0].SPECLFNNCS);
        $('#span_taxinfo_finance').html(data[0].TotalTax+";"+data[0].TaxYear);
        if (data[0].Class=="Rental")
        {
            $('#lbl_price').html("$"+price+"/mo");
            $('#text_Renatlfeatues').html("Rental Features");
            $('#headder_title').html("Rental Details");
            $('#spn_img_prpt_status').attr('src','/img/gray_legendMenu.png');
            $('#span_sale_rent').html("Rental");
        }
        else{
            $('#lbl_price').html("$"+price);
            $('#text_Renatlfeatues').html("Home Features");

            $('#headder_title').html("Home Details");
            if(data[0].Status=="Sold"){
                $('#spn_img_prpt_status').attr('src','/img/red_legendMenu.png');
                $('#span_sale_rent').html("Sold");
            }
            else if (data[0].Status=="Active"){
                $('#spn_img_prpt_status').attr('src','/img/Green_legend_Menu.png');
                $('#span_sale_rent').html("For Sale");
            }
            else if (data[0].Status=="Pending"){
                $('#spn_img_prpt_status').attr('src','/img/yellow_legendMenu.png');
                $('#span_sale_rent').html("Under Contract");
            }
        }
        $('#HomeType').html(data[0].currentcity);
        $('#span_patio_mainfeatures').html(data[0].PatioSz);
        SaveAsViewed(data[0].MLSNo);
    }
    //Start : Script For LotLand Details Popup
    var fla_RightCollapse = 0;
    var fla1 = 0;
    var fla2 = 0;
    var fla3 = 0;
    var fla4 = 0;
    var fla5 = 0;
    var fla6 = 0;
    $('#div_tog_prptFeatures').hide();
    $('#div_tog_Equestrian_Property_Features').hide();
    $('#div_tog_Road_Frontage').hide();
    $('#div_tog_Topogrphy').hide();
    $('#div_tog_amenities').hide();
    $("#Lot_btn_agentremarks").click(function () {
        if (flag_RightCollapse == 0) {
            $("#Lot_div_tog_agent").css("background-color", "#f56331");
            $("#Lot_aagent").attr('class', 'fa fa-angle-up');
            $("#Lot_aagent").css('color', 'white');
            $("#Lot_btn_agentremarks").attr('class', 'btn btn-primary btnclass2');
            $("#Lot_text_agentheading").html("Listing Agent Remarks");
            fla_RightCollapse = 1;
        }
        else {
            $("#Lot_btn_agentremarks").attr('class', 'btn btn-danger btnclass');
            $("#Lot_div_tog_agent").css("background-color", "white");
            $("#Lot_aagent").attr('class', 'fa fa-angle-down');
            $("#Lot_aagent").css('color', '#f56331');
            $("#Lot_text_agentheading").html("Agent Remarks");
            fla_RightCollapse = 0;
        }
    });
    $("#Lot_btn_prptfetures").click(function () {
        $('#div_tog_prptFeatures').show();
        $('#div_tog_Equestrian_Property_Features').show();
        $('#div_tog_Road_Frontage').show();
        $('#div_tog_Topogrphy').show();
        $('#div_tog_amenities').show();
        if (fla1 == 0) {
            $("#Lot_div_tog_prptfeature").css("background-color", "#f56331");
            $("#Lot_amainfeature").attr('class', 'fa fa-angle-up');
            $("#Lot_amainfeature").css('color', 'white');
            $("#Lot_btn_prptfetures").attr('class', 'btn btn-primary btnclass2');
            fla1 = 1;
        }
        else {
            $("#Lot_amainfeature").attr('class', 'fa fa-angle-down');
            $("#Lot_amainfeature").css('color', '#f56331');
            $("#Lot_btn_prptfetures").attr('class', 'btn btn-danger btnclass');
            $("#Lot_div_tog_prptfeature").css("background-color", "white");
            fla1 = 0;
        }
    });
    $("#btn_Lot_school").click(function () {
        if (fla2 == 0) {
            $("#div_tog_Lot__school").css("background-color", "#f56331");
            $("#Lot_aschool").attr('class', 'fa fa-angle-up');
            $("#Lot_aschool").css('color', 'white');
            $("#btn_Lot_school").attr('class', 'btn btn-primary btnclass2');
            fla2 = 1;
        }
        else {
            $("#Lot_aschool").attr('class', 'fa fa-angle-down');
            $("#Lot_aschool").css('color', '#f56331');
            $("#btn_Lot_school").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_Lot__school").css("background-color", "white");
            fla2 = 0;
        }
    });
    $("#btn_convenantsandrestrictions").click(function () {
        if (fla3 == 0) {
            $("#div_tog_convenantsandrestrictions").css("background-color", "#f56331");
            $("#aConvenatsAndRestrictions").attr('class', 'fa fa-angle-up');
            $("#aConvenatsAndRestrictions").css('color', 'white');
            $("#btn_convenantsandrestrictions").attr('class', 'btn btn-primary btnclass2');
            fla3 = 1;
        }
        else {
            $("#aConvenatsAndRestrictions").attr('class', 'fa fa-angle-down');
            $("#aConvenatsAndRestrictions").css('color', '#f56331');
            $("#btn_convenantsandrestrictions").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_convenantsandrestrictions").css("background-color", "white");
            fla3 = 0;
        }
    });
    $("#btn_Lot_heating").click(function () {
        if (fla4 == 0) {
            $("#div_tog_Lot_heating").css("background-color", "#f56331");
            $("#alotheating").attr('class', 'fa fa-angle-up');
            $("#alotheating").css('color', 'white');
            $("#btn_Lot_heating").attr('class', 'btn btn-primary btnclass2');
            fla4 = 1;
        }
        else {
            $("#alotheating").attr('class', 'fa fa-angle-down');
            $("#alotheating").css('color', '#f56331');
            $("#btn_Lot_heating").attr('class', 'btn btn-danger btnclass');
            $("#div_tog_Lot_heating").css("background-color", "white");
            fla4 = 0;
        }
    });
    $("#btn_Lot_finance").click(function () {
        if (fla5 == 0) {
            $("#div_Lot_tog_finance").css("background-color", "#f56331");
            $("#alotfinance").attr('class', 'fa fa-angle-up');
            $("#alotfinance").css('color', 'white');
            $("#btn_Lot_finance").attr('class', 'btn btn-primary btnclass2');
            fla5 = 1;

        }
        else {
            $("#alotfinance").attr('class', 'fa fa-angle-down');
            $("#alotfinance").css('color', '#f56331');
            $("#btn_Lot_finance").attr('class', 'btn btn-danger btnclass');
            $("#div_Lot_tog_finance").css("background-color", "white");
            fla5 = 0;
        }
    });
    $("#btn_Lot_listing").click(function () {
        if (fla6 == 0) {
            $("#div_Lot_tog_listing").css("background-color", "#f56331");
            $("#alotlisting").attr('class', 'fa fa-angle-up');
            $("#alotlisting").css('color', 'white');
            $("#btn_Lot_listing").attr('class', 'btn btn-primary btnclass2');
            fla6 = 1;
        }
        else {
            $("#alotlisting").attr('class', 'fa fa-angle-down');
            $("#alotlisting").css('color', '#f56331');
            $("#btn_Lot_listing").attr('class', 'btn btn-danger btnclass');
            $("#div_Lot_tog_listing").css("background-color", "white");
            fla6 = 0;
        }
    });
    function change(id1, id2, id3) {
        if (flag_RightCollapse == 0) {
            $('#'+id1).css("background-color", "#f56331");
            $('#'+id2).attr('class', 'fa fa-angle-up');
            $('#'+id2).css('color', 'white');
            $('#'+id3).attr('class', 'btn btn-primary btnclass2');
            flag_RightCollapse = 1;
        }
        else {
            $('#' + id2).attr('class', 'fa fa-angle-down');
            $('#' + id2).css('color', '#f56331');
            $('#' + id3).attr('class', 'btn btn-danger btnclass');
            $('#' + id1).css("background-color", "white");
            flag_RightCollapse = 0;
        }
    }
    // End : LotLand detail modal popup
    function getnote(UserNoteMLSID){
        var UserID=@PkeyUserId;
        if(UserID=="" || UserID.length<0)
        {
            $('#span_mynote').html("");
            $('#navLogin').click();
            $('#ModelDetails').modal("hide");
            $('#MyNotePopup').modal("hide");
            $('#PhoneCallModel').modal("hide");
        }
        else
        {
            $.ajax({
                url: "/Customer/SearchFilter/GetUserNoteData",
                type: "POST",
                dataType: "json",
                data: { MLSID: UserNoteMLSID },
                success: function (data) {
                    $('#MyNote').val('');
                    if(data=="")
                        $('#MyNote').val("");
                    else
                        $('#MyNote').val(data[0].UserNote);
                }
            });
        }
    }
    // function Lot/Lnd Data
    function LotLandDetails(data){
        //hidden values assigning for Property chat
        $('#lbl_hdn_mlsid').text(data[0].MLSNo);
        $('#lbl_hdn_addr1').text(data[0].Address);
        $('#lbl_hdn_addr2').text(data[0].GeoSecCity +" "+data[0].GeoSubdiv+","+data[0].GeoPostCd);
        $('#lbl_hdn_photo').text(data[0].PhotoLocation.split(',')[0]);
        prop_mlc=data[0].MLSNo
        prop_img=data[0].PhotoLocation;
        var a=data[0].SA1FirstNm+" "+ data[0].SA1LastNam;
        $('#Lusernames').text(a);
        $('#span_name_phonecall').text(a);
        $('#contactname').html(a);
        $('#Lot_span_quietchet_count').html(data[0].DaysInQuitchet);
        $('#span_phone_phonecall').html(data[0].SA1Phn1Nbr);
        $('#span_phone2_phonecall').html(data[0].SO1Phn1Nbr);
        $('#LotLand_lbl_agent_address1').html(data[0].SA1Addrss2);
        $('#LotLand_lbl_agent_address2').html(data[0].SA1AdStrNm +" "+data[0].SA1City+","+data[0].SA1Zip);
        $('#LotLand_lbl_agent_desg').html(data[0].SO1OfcName);
        $('#span_Lot_Restrictions').html(data[0].RESTRICTNS);
        $('#Lot_span_type_mainfeatures').html(data[0].Type);
        $('#span_Lot_Acreage_mainfeatures').html(data[0].LotSzOrAg);
        $('#Lot_span_PrptDescription_prptfeatures').html(data[0].PRPDSCRPTN);
        $('#Lot_span_agentremarks').html(data[0].ConsRmks);
        $('#Lot_lbl_MLSID').html("MLS#"+data[0].MLSNo);
        if(data[0].Status=="Sold"){
            $('#spn_img_lot_status').attr('src','/img/red_legendMenu.png');
            $('#Lot_span_sale_rent').html(data[0].Status);
        }
        else if (data[0].Status=="Active"){
            $('#spn_img_lot_status').attr('src','/img/Green_legend_Menu.png');
            $('#Lot_span_sale_rent').html("For Sale");
        }
        else if (data[0].Status=="Pending"){
            $('#spn_img_lot_status').attr('src','/img/yellow_legendMenu.png');
            $('#Lot_span_sale_rent').html("Under Contract");
        }
        Geolat=data[0].GeoLat;
        Geolang=data[0].GeoLong;
        $('#span_Lot_elementary_school').html(data[0].Elementary);
        $('#span_Lot_middle_school').html(data[0].Middle);
        $('#span_Lot_highschool_school').html(data[0].High);
        $('#span_Lot_water_heating').html(data[0].WATER);
        $('#span_Lot_Sewer_heating').html(data[0].SEWER);
        $('#span_Lot_hoafee_finance').html(data[0].HAOrRegime);
        $('#span_Lot_hoafeeterm_finance').html(data[0].HOATerm);
        $('#span_Lot_additionalfee_finance').html(data[0].ADITIONLFS);
        $('#span_Lot_specialoptions_finance').html(data[0].SPECLFNNCS);
        var price = (data[0].ListPrice + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        if(data[0].Class=="Rental")
            $('#Lot_lbl_price').html("$"+price+"/mo");
        else
            $('#Lot_lbl_price').html("$"+price);
        $('#Lot_lbl_address1').html(data[0].Address);
        $('#Lot_lbl_address2').html(data[0].GeoSecCity +" "+data[0].GeoSubdiv+","+data[0].GeoPostCd);
        var l=data[0].LA1FirstNm+" "+ data[0].LA1LastNam;
        $('#span_listing_username_lot').text(l);
        $('#lbl_listingagent_company_lot').html(data[0].LO1OfcName);
        if(data[0].Is_Favorite=="NO")
        {
            $("#Lot_img_heart").attr("src", "/img/heartmi.png");
        }
        else if (data[0].Is_Favorite=="YES")
        {
            $("#Lot_img_heart").attr("src", "/img/hearticon.png");
        }
        SaveAsViewed(data[0].MLSNo);
    }
    $("#Lot_img_heart").click(function () {
        var UserMLSID=$("#Lot_lbl_MLSID").text().toString().split("#")[1];
        var class_type_label=$("#class_lbl").text();
        //FavouriteChangeDetailsLotLand(UserMLSID);
        FavouriteChangeDetails(UserMLSID,class_type_label);
    });
    $('#Lot_btn_Mynote').click(function () {
        var UserID=@PkeyUserId;
        if(UserID=="" || UserID.length<0)
        {
            $('#ModelDetails').hide();
            $('#MyNotePopup').modal("hide");
            $('#PhoneCallModel').modal("hide");
            $('#navLogin').click();
        }
        else{
            $('#MyNotePopup').modal("show");
            UserNoteMLSID=$("#Lot_lbl_MLSID").text().toString().split("#")[1];
            getnote(UserNoteMLSID);
        }SlideImage
    });
    $('#LotLandDetails_Expand').click(function () {
        var ExpandMLSID=$("#Lot_lbl_MLSID").text().toString().split("#")[1];
        var expnadimg = $("#img_heart").attr('src');
        var exisfav="";
        if (expnadimg == "/img/heartm.png") {
            exisfav="0";
        }
        else if (expnadimg == "/img/hearticon.png") {
            exisfav="1";
        }
        var url="http://webapp.quitchet.com/Customer/ExpandLotLand/Index?MLSID="+ExpandMLSID;
        window.open(url, '_blank');
    });
    $('#LotLandDetails_Cancel').click(function(){
        $('#Lot_Land_ModelDetails').hide();
        $('#MyNotePopup').modal("hide");
        $('#PhoneCallModel').modal("hide");
        $('#footer').show();
    });
    $("#Lot_prptFeatures,#Lot_Equestrian,#Lot_RoadFontage,#Lot_Topography,#Lot_Amenities").click(function(){
        if($(this).children('span').attr('class')=="fa fa-angle-down")
            $(this).children('span').attr('class','fa fa-angle-up');
        else
            $(this).children('span').attr('class','fa fa-angle-down');
    });
    //Function to Save the MLSID as viewed by the user
    function SaveAsViewed(MLSID) {
        $.ajax({
            url: "/Customer/SearchFilter/SaveMLSIDAsViewedByUser/",
            type: "POST",
            dataType: "json",
            data: { MLSId: MLSID },
            success: function (data) {
                if (data == "Sucess") {
                }
                else {
                }
            },
            error: function () {
            }
        });
    }
    function SlideImage(ind,m,imgurlid,Mid)
    {
        var imgarr=[];
        var PvImg="";
        var NxImg="";
        var imageIndex="";
        var bg = $('#'+imgurlid).css('background-image');
        bg = bg.replace('url(','').replace(')','');
        var PhotosURLForSingleMLSID=TotalImages[ind];
        imgarr=PhotosURLForSingleMLSID.split(',');
        for(var i=0;i<imgarr.length;i++)
        {
            if(bg== '"'+imgarr[i]+'"')
            {
                imageIndex=i;
                PvImg=imgarr[i-1];
                NxImg=imgarr[i+1];
            }
        }
        if(m==1)
        {
            if(imageIndex+1==(imgarr.length-1))
            {
                $('#Next'+Mid).hide();
            }
            if(imageIndex-1!=0)
            {
                $('#Prev'+Mid).show();
            }
            $('#'+imgurlid).css('background-image','url('+NxImg +')');
        }
        else{
            if(imageIndex-1==0)
            {
                $('#Prev'+Mid).hide();
            }
            if(imageIndex+1!=(imgarr.length-1))
            {
                $('#Next'+Mid).show();
            }
            $('#'+imgurlid).css('background-image','url('+PvImg +')');
        }
    }
    function PopupSlideImage(id)
    {
        var PvImg="";
        var NxImg="";
        var imageIndex="";
        var bg = $('#LotPopupImgDiv').css('background-image');
        bg = bg.replace('url(','').replace(')','');
        for(var i=0;i<PopupPhotos.length;i++)
        {
            if(bg=='"'+PopupPhotos[i]+'"')
            {
                imageIndex=i;
                PvImg=PopupPhotos[i-1];
                NxImg=PopupPhotos[i+1];
            }
        }
        if(id==1)
        {
            var c= imageIndex+2;
            $('#PresentPhotoNum').html(c);
            if(imageIndex+1==(PopupPhotos.length-1))
            {
                $('#popupNextImgBtn').hide();
            }
            if(imageIndex-1!=0)
            {
                $('#popupPrevImgBtn').show();
            }
            $('#LotPopupImgDiv').css('background-image','url('+NxImg +')');
        }
        else{

            var c= imageIndex;
            $('#PresentPhotoNum').html(c);
            if(imageIndex-1==0)
            {
                $('#popupPrevImgBtn').hide();
            }
            if(imageIndex+1!=(PopupPhotos.length-1))
            {
                $('#popupNextImgBtn').show();
            }
            $('#LotPopupImgDiv').css('background-image','url('+PvImg +')');
        }
    }
    function HomePopupSlideImage(id)
    {
        var PvImg="";
        var NxImg="";
        var imageIndex="";
        var bg = $('#HomePopupImgDiv').css('background-image');
        bg = bg.replace('url(','').replace(')','');
        for(var i=0;i<PopupPhotos.length;i++)
        {
            if(bg=='"'+PopupPhotos[i]+'"')
            {
                imageIndex=i;
                PvImg=PopupPhotos[i-1];
                NxImg=PopupPhotos[i+1];
            }
        }
        if(id==1)
        {
            var c= imageIndex+2;
            $('#HomePresentPhotoNum').html(c);
            if(imageIndex+1==(PopupPhotos.length-1))
            {
                $('#HomepopupNextImgBtn').hide();
            }
            if(imageIndex-1!=0)
            {
                $('#HomepopupPrevImgBtn').show();
            }
            $('#HomePopupImgDiv').css('background-image','url('+NxImg +')');
        }
        else{
            var c= imageIndex;
            $('#HomePresentPhotoNum').html(c);
            if(imageIndex-1==0)
            {
                $('#HomepopupPrevImgBtn').hide();
            }
            if(imageIndex+1!=(PopupPhotos.length-1))
            {
                $('#HomepopupNextImgBtn').show();
            }
            $('#HomePopupImgDiv').css('background-image','url('+PvImg +')');
        }
    }

    //-----------------Script File to upload multiple images from detailed view--------------------
    var UploadimagesArray=[];
    function OpenMultiFileUploader()
    {
        var UserID=@PkeyUserId;
        if(UserID=="" || UserID.length<0){
            $('#ModelDetails').hide();
            $('#navLogin').click();
        }
        else
            $('#ID_MultipleFileUploader').click();
    }
    function LotsOpenMultiFileUploader()
    {
        var UserID=@PkeyUserId;
        if(UserID=="" || UserID.length<0){
            $('#Lot_Land_ModelDetails').hide();
            $('#navLogin').click();
        }
        else
            $('#ID_LotsMultipleFileUploader').click();
    }
    function readFiles(input)
    {
        var length=input.files.length;
        for(var i=0;i<length;i++)
        {
            if (input.files && input.files[i]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    UploadimagesArray.push((e.target.result).split(',')[1]);
                    var BaseString=((e.target.result).split(',')[1]);
                    $.ajax({
                        url: "/Customer/Main/PostUploadImages/",
                        type: "POST",
                        dataType: "json",
                        data: {MLSID:MLS_ID,PhotoBase:BaseString},
                        success: function (data) {
                            CustomerFullViewListing(MLS_ID);
                        },
                        error: function () {
                        }
                    });
                }
                reader.readAsDataURL(input.files[i]);
            }
            var file = input.files[i];
        }
    }


</script>