body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inder', sans-serif;
    font-size: 12px;
    background-color: #f0f3f4;
    line-height: 1.42857143 !important;
    color: #58666e !important;
    text-rendering: optimizeLegibility; 
}

header {
    background-color: #FF6937 !important;
    z-index:999;
    width: 100%;
}

.w3-sidebar.w3-collapse {
    width: 16.7%;
    margin-top: 0px;
}
.pixel-above992 {
    margin-left: 16.7%;
    margin-top: 0px;
}
.btn-group-justified {
    display: inherit;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.closeorangebtn {
    -moz-box-shadow: 0px 1px 7px -2px #363636;
    -webkit-box-shadow: 0px 1px 7px -2px #363636;
    box-shadow: 0px 1px 7px -2px #363636;
    background-color: #ff5c26;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ff5c26;
    display: inline-block;
    cursor: pointer;
    color: #ffffff; 
    padding: 5px 20px;
    text-decoration: none;
}
.graybtn {
    -moz-box-shadow: 0px 1px 7px -2px #363636;
    -webkit-box-shadow: 0px 1px 7px -2px #363636;
    box-shadow: 0px 1px 7px -2px #363636;
    background-color: #646464;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #615F5E;
    display: inline-block;
    cursor: pointer;
    color: #ffffff; 
    padding: 5px 20px;
    text-decoration: none;
}
#RightListView::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FF5D26;
    width: 5%;
}

.nav > li > a {
    padding: 10px 5px;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    text-align: center;
    color: rgb(255, 105, 55);
}

.with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    text-align: center;
    color: rgb(255, 255, 255);
}
    .with-nav-tabs.panel-default .nav-tabs > li > a:hover {
        text-align: center;
        color: rgb(255, 255, 255);
        background: none;
        border: 1px solid white;
    }

    .rightlist_price{
        padding-left:0px;
        text-align:left;
        font-size:12px;
        font-weight:bold;
        color:#ff6937;
        padding-right: 0px;
    }
    .listiconclass
    {
        padding-left:5px;
        padding-right:5px;
    }
     .list_gray_text10{
        padding-left:5px;
        text-align:left;
        font-size:10px;
        color:gray;
    }
     .qc_color{
         color:#ff6937;
         font-weight:bold;
         font-size:11px;
     }